html {
    font-family: 'Lora', serif;
    background-color: rgb(254, 202, 99);
}

header {
    width: 100%;
    display: inline-flex;
    height: 50px;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}

#header-logo {
    width: 120px;
    height: auto;
}

header .first-section {
    width: 60%;
    display: inline-flex;
    align-items: center;
}

nav {
    width: 40%;
}

nav ul {
    float: right;
}

nav li {
    display: inline-flex;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: blue;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    /* border: 2px solid black; */
    border-radius: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    width: 400px;
    height: 350px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}

.headline-image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}

.text-section {
    font-weight: bold;
    padding: 5px;
}

.by-text {
    color: rgb(62, 56, 56);
}

footer {
    width: 100%;
}

form h3 {
    text-align: center;
    color: black;
    font-size: 20px;
}

form input {
    display: block;
    width: 400px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
}

form textarea {
    display: block;
    width: 400px;
    height: 230px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
}

form #submit {
    display: block;
    height: 50px;
    width: 130px;
    font-size: 18px;
    font-weight: bolder;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px auto;
}

footer #info-bar {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    color: white;
    background-color: black;
}